@import '../../../../scss/variables.scss';

.device-info--label- {
    &1 {
        width: 100%;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 20px;
    }

    &2 {
        width: 100%;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 18px;
    }
}


.data-display-wrapper {
    width: 100%;
    border-bottom: 1px dotted white;
    margin-bottom: 20px;
    &-plus {
        width: 100%;
        border-bottom: 1px dotted white;
        margin-bottom: 40px;
    }
}

input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: $color-input-bg;
    &:focus {
        outline: none;
        background-color: white;
    }
}

.device--edit-btns {
    display: flex;
    justify-content:space-around;
}