@import "./variables.scss";

.App {
    margin: 0;
}

.grid-10-90 {
    display: grid;
    grid-template-columns: 10% 90%;
}

.grid-90-10 {
    display: grid;
    grid-template-columns: 90% 10%;
}

.grid-15-85 {
    display: grid;
    grid-template-columns: 15% 85%;
}

.grid-85-15 {
    display: grid;
    grid-template-columns: 85% 15%;
}

.grid-50-50 {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-80-20 {
    display: grid;
    grid-template-columns: 80% 20%;
}

.grid-70-30 {
    display: grid;
    grid-template-columns: 70% 30%;
}

.grid-5-95 {
    display: grid;
    grid-template-columns: 5% 95%;
}

.grid-20-80 {
    display: grid;
    grid-template-columns: 20% 80%;
}

.grid-hor {
    display: grid;
    grid-template-columns: auto;
}

.grid-hor-90-10 {
    display: grid;
    grid-template-rows: 90% 10%;
}

.grid-auto {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.float-left {
    display: flex;
    float: left;
}

.float-right {
    display: flex;
    margin-right: 0;
    margin-left: auto;
}

.m-bl {
    margin-block: 20px;
}

.m-in {
    margin-inline: 20px;
}

.m-tp {
    margin-top: 20px;
}

.m-bm {
    margin-bottom: 20px;
}

.m-lt {
    margin-left: 20px;
}

.m-rt {
    margin-right: 20px;
}

.float-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin-bottom: 10px;
}

.centrilized-cont {
    display: flex;
    margin: 0 auto;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.column-gap-10 {
    column-gap: 10px;
}
// .MuiTableContainer-root {
//     background-color: $color-bg-primary;
// }

// .MuiTableRow-head {
//     background-color: $color-bg-secondary;
// }

// .MuiTableCell-root {
//     color: white;
// }