@import "./variables.scss";

.App {
    max-width: 1400px;
    margin: 0 auto;
}

.container {
    margin-block: 45px;
    padding: 20px;
    
    background-color: $secondary;
    border-radius: 10px;
    box-shadow: -3px -3px 1px $dp-primary, 3px 3px 1px $dp-secondary;
}
