@import "../assets/fonts.scss";
@import "./variables.scss";

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

a, a:visited {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  color: $text;
  background-color: $primary;

  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


