$color-primary: #000000;
$color-secondary: #353535;

$color-bg-primary: #202020;
$color-bg-secondary: #3f3f3f;

$color-border: #747474;

$color-text: #ffffff;
$color-text-hover: #c7c7c7;

$color-dp-primary: #ffffff;
$color-dp-secondary: #888787;

$color-input-bg: #f7f7f7;

$color-success: #76a15e;
$color-notify: #c5c502;
$color-error: #c50000;
$color-offline: #1b1b1b;

$tooltip--arrow-size: 6px;
$tooltip--margin: 30px;