@import "../../../../scss/variables.scss";

table, th, td {
    border: 1px solid $color-border;
    border-collapse: collapse;
    padding: 10px;
}

.list--title {
    margin-bottom: 20px;
}

.table--btn {
    font-size: 13px;
    padding: 5px 15px;
}

.table--link {
    color: white;
    text-decoration: underline;
}

.MuiButton-root {
    color: white; //he
}

.Mui-TableHeadCell-Content-Labels {
    color: white; //he
}

.Mui-ToolbarDropZone {
    color: white; //he
}

.MuiTableRow-hover {
    color: black;
}

// .t {
//     color: #f83b3b
// }