@import "../../../../scss/variables.scss";

table, th, td {
    border: 1px solid $color-border;
    border-collapse: collapse;
    padding: 10px;
}

.list--title {
    margin-bottom: 20px;
}

.table--btn {
    font-size: 13px;
    padding: 5px 15px;
}

.table {
    background-color: black;
}