@import"../../scss/variables.scss";

.btn {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: $color-secondary;
    margin-inline: 10px;
    color: $color-text;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn--less {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: $color-secondary;
    color: $color-text;
    font-size: 13px;
    border: none;
    cursor: pointer;
}