@import "../../scss/variables.scss";

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-inline: 10px;
    border: none;
    cursor: pointer;
    text-align: center;

    &.size- {
        &s {
            padding: 5px 10px;
            font-size: 13px;
        }

        &m {
            padding: 10px 15px;
            font-size: 14px
        }

        &l {
            padding: 15px 20px;
            font-size: 16px;
        }
    }

    &.fluid {
        width: 100%;
        margin: 0;
    }

    &.float- {
        &left {
            float: left;
        }

        &right {
            float: right;
        }

        &center {
            display: flex;
            margin: 0 auto;
        }
    }

    &.color- {
        &primary {
            color: $color-text;
            background-color: $color-secondary;
        }
        &secondary {
            color: $color-text;
            background-color: $color-primary;
        }
    }
}

.btn-spinner {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.page-spinner {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 15%;
    height: 15%;
}