@import"../../scss/variables.scss";

.btn {
    border-radius: 10px;
    background-color: $color-secondary;
    margin-inline: 10px;
    color: $color-text;
    border: none;
    cursor: pointer;

    &.size- {
        &s {
            padding: 5px 10px;
            font-size: 13px;
        }

        &m {
            padding: 10px 15px;
            font-size: 14px
        }

        &l {
            padding: 15px 20px;
            font-size: 16px;
        }
    }

    &.float- {
        &left {
            float: left;
        }
        &right {
            float: right;
        }
        &center {
            margin: 0 auto;
        }
    }
}