@import '../../scss/variables.scss';

.container {
    padding: 20px;
    background-color: $color-bg-secondary;
    &.border-top {
        margin-top: 20px;
    }
    &.border-right {
        margin-right: 20px;
    }
    &.border-bottom {
        margin-bottom: 20px;
    }
    &.border-left {
        margin-left: 20px;
    }
}