@import "@scss/variables.scss";

.nav {
    display: block;
    padding: 10px 20px; 

    background-color: $color-bg-primary;
    float: left;
    height: 100%;
    width: 120%;
    position: sticky;
    top: 0;
    z-index: 9999;
    .nav--links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        li {
            :hover {
                background-color: $color-bg-secondary;
            }
            a {
                display: flex;
                border-radius: 5px;
                width: 100%;
                padding: 10px 20px;
                align-items: center;
            }
            a:visited {
                color: white;
            }
        }
    }

    .nav--user {
        padding: 10px 50px;
    }
}

.nav-less {
    display: block;
    padding: 10px 10px; 

    background-color: $color-bg-primary;
    float: left;
    position: sticky;
    top: 0;
    z-index: 9999;
    .nav--links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
        
        li {
            :hover {
                background-color: $color-bg-secondary;
            }
            a {
                display: flex;
                justify-content: center;
                border-radius: 5px;
                width: 100%;
                padding: 10px 5px;
            }
            a:visited {
                color: white;
            }
        }
    }

    .nav--user {
        padding: 10px 50px;
    }
}

.nav- {
    &full {
        display: grid;
        grid-template-columns: 13% 87%;
        transition: all .2s;
        height: 100vh;
    }

    &hidden {
        display: grid;
        grid-template-columns: 5% 95%;
        transition: all .2s;
        height: 100vh;
    }
}
