@import "@scss/variables.scss";

.nav {
    display: block;
    height: 100vh;
    padding: 10px 20px; 

    background-color: $color-bg-primary;
    position: sticky;
    top: 0;
    z-index: 9999;
    .nav--links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        li {
            :hover {
                background-color: $color-bg-secondary;
            }
            a {
                display: flex;
                border-radius: 5px;
                width: 100%;
                padding: 10px 10px;
                .icon {
                    width: 25px;
                    height: auto;
                }
            }
            a:visited {
                color: white;
            }
        }
    }

    .nav--user {
        padding: 10px 50px;
    }

    .nav--logo-img {
        width: 100%;
        height: auto;
    }
}

.nav-less {
    display: block;
    height: 100vh;
    padding: 10px 10px; 

    background-color: $color-bg-primary;
    position: sticky;
    top: 0;
    z-index: 9999;
    .nav--links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
        
        li {
            :hover {
                background-color: $color-bg-secondary;
            }
            a {
                display: flex;
                justify-content: center;
                border-radius: 5px;
                width: 100%;
                padding: 10px 5px;
            }
            a:visited {
                color: white;
            }
        }
    }
}

.nav- {
    &full {
        display: grid;
        grid-template-columns: 15% 85%;
        align-items: start;
        transition: all .2s;
    }

    &hidden {
        display: grid;
        grid-template-columns: 5% 95%;
        align-items: start;
        transition: all .2s;
    }
}
