<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Enegix</title>
</head>
<body>
    <nav>
        <div class="logo" onclick="window.location.href='/'"><img src="../static/img/logo_black.svg"></div>
        <div class="links">
            <div class="link" onclick="window.location.href='/add'">Add new ASIC</div>
            <div class="link" onclick="window.location.href='/logout'">Logout</div>
        </div>
    </nav>
    <form action="/" method="post" class="filter">
    <label>Filter search</label>
        <select name="category" id="categories" onchange="changeFilter('div', this)">                <option value="Miner Type" selected>Miner Type</option>
            <option value="Status">Status</option>
            <option value="Coin">Coin</option>
        </select>
        <select name="target" id="choices">
            <option value="Antminer S17 Pro">Antminer S17 Pro</option>
            <option value="Antminer S17+">Antminer S17+</option>
            <option value="Antminer S17+ 67TH">Antminer S17+ 67TH</option>
            <option value="Antminer S17+ 70TH">Antminer S17+ 70TH</option>
            <option value="Antminer S17+ 73TH">Antminer S17+ 73TH</option>
            <option value="Antminer S17+ BOX+">Antminer S17+ BOX+</option>
            <option value="Antminer S19">Antminer S19</option>
            <option value="Avalon 1166 Pro 78TH">Avalon 1166 Pro 78TH</option>
            <option value="Avalon 1166 Pro 81TH">Avalon 1166 Pro 81TH</option>
            <option value="Avalon 1246 83TH">Avalon 1246 83TH</option>
            <option value="Avalon 1246 85TH">Avalon 1246 85TH</option>
            <option value="Watsminer M10">Watsminer M10</option>
            <option value="Watsminer M10 New PSU">Watsminer M10 New PSU</option>
            <option value="Watsminer M20s">Watsminer M20s</option>
            <option value="Watsminer M21s">Watsminer M21s</option>
            <option value="Watsminer M31s">Watsminer M31s</option>
            <option value="Watsminer M31s68TH">Watsminer M31s68TH</option>
        </select>
        <input type="submit" value="Search">
    </form>
    <main class="main-index">
        <div class="dashboard">
            <div class="main--title">Dashboard</div>
            <div class="dashboard--grid">
                <div class="grid--item">
                    <div class="inner">Miners</div>
                    <div class="inner">
                        {{ if . }}
                            {{ $length := len . }}
                            {{ if eq $length 0 }}
                                Sorry. There is no miners yet
                            {{ else }}
                                {{ $length }}/10000
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
                <div class="grid--item">
                    <div class="inner">Online</div>
                    <div class="inner">
                        {{ if . }}
                            {{ $length := len . }}
                            {{ $length }}%
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-index">
        <div class="main--title">
            ASICs tables
        </div>
        <table class="main--table">
            <tr class="table--names">
                <td class="inner">Miner Tpye</td>
                <td class="inner">Shelf</td>
                <td class="inner">Row</td>
                <td class="inner">Column</td>
  - -             <td class="inner">IP Address</td>
                <td class="inner">MAC Address</td>
                <td class="inner">Status</td>
                <td class="inner">Coin</td>
            </tr>
            {{ if . }}
                {{ range . }}
                <tr class="table--container">
                    <td class="name">{{ .MinerType }}</td>
                    <td class="shelf">{{ .Shelf }}</td>
                    <td class="row">{{ .Row }}</td>
                    <td class="colum-n-">{{ .Column }}</td>
                    <td class="ip-address">{{ .IPAddress }}</td>
                    <td class="mac-address">{{ .MACAddress }}</td>
                    <td class="status">{{ .MinerStatus }}</td>
                    {{ if eq .Coin "Bitcoin" }}
                        <td class="coin">{{ .Coin  }} <div class="fa-brands fa-bitcoin"></div></td>
                    {{ else if eq .Coin "Ethereum" }}
                        <td class="coin">{{ .Coin  }} <div class="fa-brands fa-ethereum"></div></td>
                    {{ else if eq .Coin "Litecoin" }}
                        <td class="coin">{{ .Coin  }} <div class="fa-solid fa-litecoin-sign"></div></td>
                    {{ end }}
                </tr>
                {{ end }}
            {{ end }}
        </table>
    </main>
    <div class="open-chat" onclick="openChat()">Chat Support</div>
    <div class="chat-popup" id="chat">
        <form action="/" class="form--chat">
            <div class="chat--title">Chat support</div>
            <textarea placeholder="Type message.."></textarea>
            <button class="chat--submit">Send message</button>
            <div class="chat--btn-cancel" onclick="closeChat()">Close</div>
        </form>
    </div>
    <script src="https://kit.fontawesome.com/020dbc498d.js" crossorigin="anonymous"></script>
    <script>
        const chat = document.getElementById('chat')
        const openChat = () => {
            chat.style.display = 'block'
        }
        const closeChat = () => {
            chat.style.display = 'none'
        }

        const category = {
            'MinerType': [
                    'Antminer S17 Pro',
                    'Antminer S17+',
                    'Antminer S17+ 67TH',
                    'Antminer S17+ 70TH',
                    'Antminer S17+ 73TH',
                    'Antminer S17+ BOX+',
                    'Antminer S19',
                    'Avalon 1166 Pro 78TH',
                    'Avalon 1166 Pro 81TH',
                    'Avalon 1246 83TH',
                    'Avalon 1246 85TH',
                    'Watsminer M10',
                    'Watsminer M10 New PSU',
                    'Watsminer M20s',
                    'Watsminer M21s',
                    'Watsminer M31s',
                    'Watsminer M31s68TH',
            ],
            'Status': ['online', 'offline'],
          'Coin': ['Bitcoin', 'Litecoin', 'Ethereum']
        }

        function changeFilter(prefix, chooser) {
            const selectedOption = (chooser.options[chooser.selectedIndex].value)
            const choices = document.getElementById('choices')
            if (selectedOption == 'Miner Type') {
                if (choices.children.length != 0) {
                    choices.innerHTML = ''
                }
                for (let i = 0; i < category.MinerType.length; i++) {
                    const temp = document.createElement('option')
                    temp.value = category.MinerType[i]
                    temp.innerHTML = category.MinerType[i]
                    choices.appendChild(temp)
                }
            }
            if (selectedOption == 'Status') {
                if (choices.children.length != 0) {
                    choices.innerHTML = ''
                }
                for (let i = 0; i < category.Status.length; i++) {
                    const temp = document.createElement('option')
                    temp.value = category.Status[i]
                    temp.innerHTML = category.Status[i]
                    choices.appendChild(temp)
                }
            }
            if (selectedOption == 'Coin') {
                if (choices.children.length != 0) {
                    choices.innerHTML = ''
                }
                for (let i = 0; i < category.Coin.length; i++) {
                    const temp = document.createElement('option')
                    temp.value = category.Coin[i]
                    temp.innerHTML = category.Coin[i]
                    choices.appendChild(temp)
                }
            }
        }
    </script>
</body>
</html>