@import '@scss/variables';

.popup-chat {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 500;

    .popup-chat--window {
        display: grid;
        grid-template-rows: 10% 80% 10%;
        width: 300px;
        height: 400px;
        padding: 10px;
        background-color: $color-bg-primary;
        
        .popup-chat--messages {
            background-color: $color-bg-secondary;
            overflow-y: scroll;
        }

        label {
            margin-bottom: 10px;
            text-align: center;
            display: flex;
            margin: 0 auto;
        }

        input {
            margin-block: 10px;
        }

        .popup-chat--form {
            display: grid;
            grid-template-columns: 80% 20%;
            width: 100%;
            background-color: $color-dp-primary;
            .popup-chat--input {
                border: none;
                border-radius: 0;
                padding: 0;
                padding-left: 5px;
                background-color: $color-dp-primary;
            }
        
            .popup-chat--submit {
                border: none;
                padding: 0;
                background-color: $color-dp-primary;
                cursor: pointer;
                &:active {
                    background-color: $color-bg-hover;
                }
            }
        }
    }
}

.popup-chat--btn {
    width: 300px;
    border-radius: 0;
}