@import '../../scss/variables.scss';

.sign-in {
    width: 300px;
    height: 280px;
    margin: 50px auto;

}

.sign-in--label {
    margin-bottom: 20px;
}

.sign-in--form {
    display: block;
    input {
        width: 100%;
    }
    * {
        margin-block: 10px;
    }
}