@import '../../scss/variables.scss';

.auth {
    display: inline-block;
    position: relative;
    text-align: center;
    left: 50%; 
    transform: translateX(-50%);
    margin: 50px auto;
    padding: 20px;
    background-color: $color-bg-primary;
}

.auth--label {
    margin-bottom: 20px;
}

.auth--form {
    display: block;
    padding-inline: 20px;
    input {
        width: 100%;
    }
    * {
        margin-block: 10px;
    }
}