*, 
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{ 
    height: 100%;
}

a,
a:visited {
    text-decoration: none;
}

/* BODY */

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

    font-size: 16px;

    max-width: 1400px;
    margin: 0 auto;

}

/* BODY END */

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 20px;
}

.logo {
    margin: 10px;
    cursor: pointer;
}

/* .logo > img {
    height: 20px;
    width: auto;
} */

.links {
    display: flex;
}

.link {
    padding: 10px 15px;
    transition: all .2s;
    cursor: pointer;
}

.link:hover {
    color: #999999;
}

/* NAVBAR END */

/* MAIN */

main {
    width: 100%;
}

.main--title {
    text-align: center;
    margin-block: 50px;
}

.main--table {
    width: 100%;
}

.table--names > .inner {
    font-weight: 500;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
/* MAIN END */

/* FORM */

.form--add {
    padding: 50px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.form--sign {
    width: 35%;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.form--title {
    font-size: 20px;
    padding-bottom: 20px;
}

.form--inputs {
    display: block;
}

.form--inputs label {
    font-weight: 500;
}

.form--inputs > a, .form--inputs > a:hover {
    text-align: right;
    color: #2345b4;
}

.form--inputs > a > img {
    vertical-align: middle;
}

.form--inputs > select {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    margin-block: 10px;
    padding: 10px;
}

.form--input {
    width: 100%;
    margin-block: 10px;
    padding: 8px 10px;
}

.fa-eye {
    margin-left: -30px;
    cursor: pointer;
}

.form--plus-minus {
    display: flex;
    margin-bottom: 10px;
}

.plus-minus {
    padding: 0px 8px;
    margin-left: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.grid-50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.grid-50-50 > a {
    text-align: right;
    color: #2345b4;
}

.grid-50-50 > a:visited {
    color: #2345b4;
}

.connections {
    margin-block: 10px;
}

.input-container {
    display: flex;
    margin-block: 10px;
}

.container--container {
    width: 100%;
    margin-right: 10px;
}

.container--input {
    width: 100%;
    padding: 8px 10px;
}

.form--submit {
    width: 100%;
    background-color: black;
    color: white;

    border: none;
    padding: 10px;
    margin-top: 15px;

    cursor: pointer;
    transition: all .2s;
}

.form--submit:hover {
    background-color: #999999;
}

/* FORM END */

/* CHAT */

.open-chat {
    position: fixed;
    bottom: 23px;
    right: 28px;

    background-color: #555;
    color: white;
    padding: 16px 97px;
    border: none;
    font-size: 14px;

    cursor: pointer;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;

    border: 2px solid black;
    background-color: #fff;
    z-index: 9;
}

.form--chat {
    max-width: 300px;
    padding: 10px;
}

.form--chat textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    resize: none;

    background: #f1f1f1;
    min-height: 200px;
}

.form--chat textarea:focus {
    background-color: #ddd;
    outline: none;
}

.chat--submit, .chat--btn-cancel {
    width: 100%;
    margin-bottom: 10px;
    padding: 16px 20px;

    background-color: #04AA6D;
    color: white;
    border: none;

    cursor: pointer;
}

.chat--btn-cancel {
    background-color: red;
    font-size: 14px;
    text-align: center;
}

/* CHAT END */