*, 
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{ 
    height: 100%;
}

a,
a:visited {
    text-decoration: none;
}


/* BODY */

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

    font-size: 16px;

    max-width: 1400px;
    margin: 0 auto;

}

/* BODY END */

/* NAVBAR */

nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;

    max-width: 1400px;
    padding-block: 20px;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;

    background-color: white;
}

.logo {
    margin: 10px;
    cursor: pointer;
}

.links {
    display: flex;
}

.link {
    padding: 10px 15px;
    transition: all .2s;
    cursor: pointer;
}

.link:hover {
    color: #999999;
}

/* NAVBAR END */

/* DASHBOARD */

.dashboard--grid {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

/* DASHBOARD END */

/* FILTER */

.filter {
    width: 100%;
    margin-top: 50px;
}

.grid-select-container {
    margin-bottom: 20px;
}

.filter > select, .grid-select {
    width: 20%;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}

.grid-select {
    margin: 0 10px;
}

.filter--submit {
    background-color: black;
    color: white;

    border: none;
    padding: 6px 10px;

    cursor: pointer;
    transition: all .2s;
}

/* FILTER END */

/* MAIN */

main  {
    width: 100%;
    margin-top: 115px;
    z-index: 100;
}

.main-index {
    padding: 30px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.main-index-dash {
    margin-top: 0px;
}

.main--title {
    text-align: center;
    margin-bottom: 20px;
}

.main--table {
    width: 100%;
}

.table--names > .inner {
    font-weight: 500;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
/* MAIN END */

/* FORM */

.form--add {
    padding: 50px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.form--sign {
    width: 35%;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    background-color: rgba(255, 255, 255, 0.4);
}

.form--title {
    font-size: 20px;
    padding-bottom: 20px;
}

.form--inputs {
    display: block;
}

.form--inputs label {
    font-weight: 500;
}

.form--inputs > a, .form--inputs > a:hover {
    text-align: right;
    color: #2345b4;
}

.form--inputs > a > img {
    vertical-align: middle;
}

.form--inputs > select {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    margin-block: 10px;
    padding: 10px;
}

.form--input {
    width: 100%;
    margin-block: 10px;
    padding: 8px 10px;
}

.fa-eye {
    margin-left: -30px;
    cursor: pointer;
}

.form--plus-minus {
    display: flex;
    margin-bottom: 10px;
}

.plus-minus {
    padding: 0px 8px;
    margin-left: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.plus-minus::selection {
    background: transparent;
}

.plus-minus::-moz-selection {
    background: transparent;
}

.grid-50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.grid-50-50 > a {
    text-align: right;
    color: #2345b4;
}

.grid-50-50 > a:visited {
    color: #2345b4;
}

.connections {
    display: flex;
    margin-block: 10px;
}

.connections > label, .connections > input {
    margin-left: 5px;
}

.connections > label::selection {
    background: transparent;
}

.connections > label::-moz-selection {
    background: transparent;
}

.input-container {
    display: flex;
    margin-block: 10px;
}

.container--container {
    width: 100%;
    margin-right: 10px;
}

.container--input {
    width: 100%;
    padding: 8px 10px;
}

.form--submit {
    width: 100%;
    background-color: black;
    color: white;

    border: none;
    padding: 10px;
    margin-top: 15px;

    cursor: pointer;
    transition: all .2s;
}

.form--submit:hover {
    background-color: #999999;
}

/* FORM END */

/* CHAT */

.open-chat {
    position: fixed;
    bottom: 38px;
    right: 28px;

    background-color: black;
    color: white;
    padding: 16px 97px;
    border: none;
    font-size: 14px;

    cursor: pointer;
    transition: all .2s;
}

.open-chat:hover {
    background-color: grey;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;

    border: 2px solid black;
    background-color: #fff;
    z-index: 9;
}

.form--chat {
    max-width: 300px;
    padding: 10px;
}

.form--chat textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    resize: none;

    background: #f1f1f1;
    min-height: 200px;
}

.form--chat textarea:focus {
    background-color: #ddd;
    outline: none;
}

.chat--submit, .chat--btn-cancel {
    width: 100%;
    margin-bottom: 10px;
    padding: 16px 20px;

    background-color: #04AA6D;
    color: white;
    border: none;

    cursor: pointer;
    transition: all .2s;
}

.chat--submit:hover {
    background-color: #01d487;
}

.chat--btn-cancel {
    background-color: rgb(156, 0, 0);
    font-size: 14px;
    text-align: center;
}

.chat--btn-cancel:hover {
    background-color:rgb(218, 0, 0);
}

/* CHAT END */

/* GRID */

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    gap: 2px;
}

.grid--column {
    display: grid;
    gap: 2px;
}

.grid--row {
    padding: 25px 5px;
    background-color: black;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 0; top: 0;
    width: 135px;
    background: #3989c9;
    color: #fff;
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: .2s;
    z-index: 10;
}

[data-tooltip]:hover::after {
    opacity: 1;
}

/* GRID END */

/* ERROR */

.error {
    position: absolute;
    top: 50%;
    left: 50%;

    text-align: center;
}

.error--title {
    font-size: 25px;
}

.error--back-btn {
    background-color: black;
    color: white;

    border: none;
    padding: 10px;
    margin-top: 15px;
    padding: 10px 20px;

    cursor: pointer;
    transition: all .2s;
}

.error--back-btn:hover {
    background-color: grey;
}

/* ERROR END */

/* FOOTER */

.footer {
    margin-top: 50px;
}

.footer--grid {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.coin--grid {
    display: flex;
    justify-content: center;
}

/* FOOTER END */