@import '../scss/variables.scss';

.form--title {
    margin-block: 10px 20px;
}

.form--labels {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.form--inputs {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 20px;
    align-items: center;
    width: 100%;
    input {
        border: none;
        border-radius: 10px;
        padding: 10px;
        background-color: $input--bg;
        box-shadow: -2px -2px 1px inset $dp-primary, 2px 2px 1px inset $dp-secondary;
        &:focus {
            outline: none;
            background-color: white;
        }
    }
}

.form--btn {
    margin-top: 30px;
    padding-inline: 100px;
}