@import "../scss/variables.scss";

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    max-width: 1400px;
    width: 100%;
    margin-top: 20px;

    background-color: $secondary;
    border-radius: 10px;
    box-shadow: -3px -3px 1px $dp-primary, 3px 3px 1px $dp-secondary;
}

.nav--user {
    display: flex;
}

.nav--user > div {
    margin-inline: 10px;
}

.nav--links {
    display: flex;
}

.link:visited {
    color: $text
}
